.container {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  width: 40em;
  border-radius: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 50em;
  border: 2px solid black;
  border-radius: 0px 15px 15px 15px;;
  padding: 20px;
}
.mainInput{
  width: 120px;
  padding: 12px 20px;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.mainInput:focus{
  background-color: lightblue;
}
.containerHeader {
  width: 150px;
  border: 2px solid black;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
}
.headerTitle {
  text-align: center;
  margin-bottom: 10px;
}
.mainDesc {
  display: flex;
  margin: 0px 10px;
  flex:1;
}
.mainDescInput{
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  resize:none
}
.mainImage {
  background-color: orange;
  display: flex;
  margin: 10px;
  flex:1;
}
.imagePlus {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
}
.uploadImage{
  width: 200px;
  height: 300px;
}
.uplodaNone{
  display: none;
}
.plusButton {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: none;
  outline:none;
}
.plusButtonNone {
  display: none;
}
.plusButton:hover {
  box-shadow: 3px 3px 3px 3px purple;
}
.plusSpan {
  font-size: 80px;
}
.imageText {
  font-size: 20px;
}

.button {
  color: white;
  background-color: lightgray;
  border: none;
  width: 30px;
  height: 30px;
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 10px;
  cursor: pointer;
  outline:none;
}
.button:hover {
  box-shadow: 3px 1px 3px lightgray;
}


/* .footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
